body{
    font-family: 'Mochiy Pop One', sans-serif;
    background: mediumorchid ;
}



.header_div {
    background: azure;
    color:dodgerblue ;
}

.header_div p {
    font-family: 'Mochiy Pop One', sans-serif;
    letter-spacing: 2px;
    font-size: 22px;
}

.main_div button {
    font-family: 'Mochiy Pop One', sans-serif;
    margin-top: 33px;
    width: 140px;
    font-weight: bolder;
    letter-spacing: 5px;
}

.copy_right_footer {
   position: fixed;
   color: #6c757d;
   bottom: 1;
   width: 100%;
   font-size: 20px;
   background-color: azure;
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px rgb(151, 149, 149);
}